[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exceptiongroup = {version = "*", markers = "python_version < '3.11'"}
ipython = "*"
tomli = {version = "*", markers = "python_version < '3.11'"}
typewriter = {path = ".", extras = ["docs", "tests", "dev"], editable = true}
typer = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "python setup.py sdist bdist_wheel"
build-docs = "sphinx-build -b html docs/source docs/_build/html"
host-docs = "python -m http.server --directory docs/_build/html"
