[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
typewriter = {path = ".", extras = ["docs", "tests", "dev"], editable = true}

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "python setup.py sdist bdist_wheel"
build-docs = "sphinx-build -b html docs/source docs"
host-docs = "python -m http.server --directory docs"
